model_config_list {
    config {
        name: 'saved_model'
        base_path: '/models/breast_cancer_model/'
        model_platform: 'tensorflow'

        model_version_policy {

            specific {
                version: 1
                version: 2
            }
        }    

            version_labels {
                key: 'stable'
                value: 1
            }

            version_labels {
                key: 'canary'
                value: 2
            }
    }

}